{	encodings = (
		{	name = '阿拉伯语 – AIX'; code = 'CP1046'; },
		{	name = '阿拉伯语 – DOS'; code = 'CP864'; },
		{	name = '阿拉伯语 – ISO 8859-6'; code = 'ISO-8859-6'; },
		{	name = '阿拉伯语 – Mac OS'; code = 'MACARABIC'; },
		{	name = '阿拉伯语 – Windows'; code = 'CP1256'; },
		{	name = '美洲 – ARMSCII-8'; code = 'ARMSCII-8'; },
		{	name = '波罗的海沿岸 – AIX'; code = 'CP922'; },
		{	name = '波罗的海沿岸 – DOS'; code = 'CP775'; },
		{	name = '波罗的海沿岸 – ISO Latin 7'; code = 'ISO-8859-13'; },
		{	name = '波罗的海沿岸 – Windows'; code = 'CP1257'; },
		{	name = '白俄罗斯语 – KOI8-RU'; code = 'KOI8-RU'; },
		{	name = '凯尔特语 – ISO Latin 8'; code = 'ISO-8859-14'; },
		{	name = '中欧 – ISO Latin 2'; code = 'ISO-8859-2'; },
		{	name = '中欧 – ISO Latin 4'; code = 'ISO-8859-4'; },
		{	name = '中欧 – Mac OS'; code = 'MACCENTRALEUROPE'; },
		{	name = '中欧 – Windows Latin 2'; code = 'CP1250'; },
		{	name = '中文 – GB18030'; code = 'GB18030'; },
		{	name = '中文 – GBK'; code = 'GBK'; },
		{	name = '中文 – ISO-2022-CN'; code = 'ISO-2022-CN'; },
		{	name = '中文 – ISO-2022-CN-EXT'; code = 'ISO-2022-CN-EXT'; },
		{	name = '简体中文 – GB 2312'; code = 'CN-GB'; },
		{	name = '简体中文 – GB 2312-80'; code = 'CHINESE'; },
		{	name = '简体中文 – GB_1988-80'; code = 'GB_1988-80'; },
		{	name = '简体中文 – HZ-GB-2312'; code = 'HZ-GB-2312'; },
		{	name = '简体中文 – ISO-IR-165'; code = 'CN-GB-ISOIR165'; },
		{	name = '简体中文 – Windows, DOS GBK'; code = 'CP936'; },
		{	name = '繁体中文 – BIG5'; code = 'BIG5'; },
		{	name = '繁体中文 – BIG5-2003'; code = 'BIG5-2003'; },
		{	name = '繁体中文 – BIG5-HKSCS:1999'; code = 'BIG5-HKSCS:1999'; },
		{	name = '繁体中文 – BIG5-HKSCS:2001'; code = 'BIG5-HKSCS:2001'; },
		{	name = '繁体中文 – BIG5-HKSCS:2004'; code = 'BIG5-HKSCS:2004'; },
		{	name = '繁体中文 – EUC-TW'; code = 'EUC-TW'; },
		{	name = '繁体中文 – Tru64'; code = 'DEC-HANYU'; },
		{	name = '繁体中文 – Windows, DOS'; code = 'CP950'; },
		{	name = '克罗地亚语 – Mac OS'; code = 'MACCROATIAN'; },
		{	name = '斯拉夫语 – CP154'; code = 'CP154'; },
		{	name = '斯拉夫语 – DOS 斯拉夫语 1'; code = 'CP855'; },
		{	name = '斯拉夫语 – DOS 斯拉夫语 2'; code = 'CP866'; },
		{	name = '斯拉夫语 – ISO'; code = 'ISO-8859-5'; },
		{	name = '斯拉夫语 – KOI8-R'; code = 'KOI8-R'; },
		{	name = '斯拉夫语 – Mac OS'; code = 'MACCYRILLIC'; },
		{	name = '斯拉夫语 – Windows'; code = 'CP1251'; },
		{	name = '格鲁吉亚语 – Academy'; code = 'GEORGIAN-ACADEMY'; },
		{	name = '格鲁吉亚语 – PS'; code = 'GEORGIAN-PS'; },
		{	name = '希腊语 – DOS 希腊语 1'; code = 'CP737'; },
		{	name = '希腊语 – DOS 希腊语 2'; code = 'CP869'; },
		{	name = '希腊语 – ISO 8859-7'; code = 'ISO-8859-7'; },
		{	name = '希腊语 – Mac OS'; code = 'MACGREEK'; },
		{	name = '希腊语 – Windows'; code = 'CP1253'; },
		{	name = '希伯来语 – ISO 8859-8'; code = 'ISO-8859-8'; },
		{	name = '希伯来语 – Mac OS'; code = 'MACHEBREW'; },
		{	name = '希伯来语 – MS-DOS'; code = 'CP862'; },
		{	name = '希伯来语 – PC-DOS'; code = 'CP856'; },
		{	name = '希伯来语 – Windows'; code = 'CP1255'; },
		{	name = '冰岛语 – DOS'; code = 'CP861'; },
		{	name = '冰岛语 – Mac OS'; code = 'MACICELAND'; },
		{	name = '日语 – EUC-JP'; code = 'EUC-JP'; },
		{	name = '日语 – ISO-2022-JP'; code = 'ISO-2022-JP'; },
		{	name = '日语 – ISO-2022-JP-1'; code = 'ISO-2022-JP-1'; },
		{	name = '日语 – ISO-2022-JP-2'; code = 'ISO-2022-JP-2'; },
		{	name = '日语 – ISO646-JP'; code = 'ISO-IR-14'; },
		{	name = '日语 – JIS X 0201'; code = 'JISX0201-1976'; },
		{	name = '日语 – JIS X 0208'; code = 'ISO-IR-87'; },
		{	name = '日语 – JIS X 0212'; code = 'ISO-IR-159'; },
		{	name = '日语 – Shift JIS'; code = 'SHIFT_JIS'; },
		{	name = '日语 – Tru64'; code = 'DEC-KANJI'; },
		{	name = '日语 – Windows Shift-JIS CP932'; code = 'CP932'; },
		{	name = '日语 – Windows Shift-JIS CP943'; code = 'CP943'; },
		{	name = '韩语 – EUC-KR'; code = 'EUC-KR'; },
		{	name = '韩语 – ISO-2022-KR'; code = 'ISO-2022-KR'; },
		{	name = '韩语 – ISO-IR-149'; code = 'ISO-IR-149'; },
		{	name = '韩语 – JOHAB'; code = 'CP1361'; },
		{	name = '韩语 – Windows, DOS'; code = 'CP949'; },
		{	name = '老挝语 – CP1133'; code = 'CP1133'; },
		{	name = '老挝语 – MULELAO-1'; code = 'MULELAO-1'; },
		{	name = '北欧 – DOS'; code = 'CP865'; },
		{	name = '北欧 – ISO Latin 6'; code = 'ISO-8859-10'; },
		{	name = '葡萄牙语 – DOS'; code = 'CP860'; },
		{	name = '罗马尼亚语 – ISO Latin 10'; code = 'ISO-8859-16'; },
		{	name = '罗马尼亚语 – Mac OS'; code = 'MACROMANIA'; },
		{	name = '塔吉克语 – KOI8-T'; code = 'KOI8-T'; },
		{	name = '泰语 – CP1161'; code = 'CP1161'; },
		{	name = '泰语 – CP1162'; code = 'CP1162'; },
		{	name = '泰语 – ISO 8859-11'; code = 'ISO-8859-11'; },
		{	name = '泰语 – Mac OS'; code = 'MACTHAI'; },
		{	name = '泰语 – TIS-620'; code = 'ISO-IR-166'; },
		{	name = '泰语 – Windows, DOS'; code = 'CP874'; },
		{	name = '土耳其语 – DOS'; code = 'CP857'; },
		{	name = '土耳其语 – ISO Latin 5'; code = 'ISO-8859-9'; },
		{	name = '土耳其语 – Mac OS'; code = 'MACTURKISH'; },
		{	name = '土耳其语 – Windows'; code = 'CP1254'; },
		{	name = '土库曼语 – TDS565'; code = 'ISO-IR-230'; },
		{	name = '乌克兰语 – AIX'; code = 'CP1124'; },
		{	name = '乌克兰语 – DOS'; code = 'CP1125'; },
		{	name = '乌克兰语 – KOI8-U'; code = 'KOI8-U'; },
		{	name = '乌克兰语 – Mac OS'; code = 'MACUKRAINE'; },
		{	name = '统一码 – UTF-8'; code = 'UTF-8'; },
		{	name = '统一码 – UTF-8 (BOM)'; code = 'UTF-8//BOM'; },
		{	name = '统一码 – UTF-16BE'; code = 'UTF-16BE//BOM'; },
		{	name = '统一码 – UTF-16BE (no BOM)'; code = 'UTF-16BE'; },
		{	name = '统一码 – UTF-16LE'; code = 'UTF-16LE//BOM'; },
		{	name = '统一码 – UTF-16LE (no BOM)'; code = 'UTF-16LE'; },
		{	name = '统一码 – UTF-32BE'; code = 'UTF-32BE//BOM'; },
		{	name = '统一码 – UTF-32BE (no BOM)'; code = 'UTF-32BE'; },
		{	name = '统一码 – UTF-32LE'; code = 'UTF-32LE//BOM'; },
		{	name = '统一码 – UTF-32LE (no BOM)'; code = 'UTF-32LE'; },
		{	name = '越南语 – AIX'; code = 'CP1129'; },
		{	name = '越南语 – CP1163'; code = 'CP1163'; },
		{	name = '越南语 – TCVN'; code = 'TCVN'; },
		{	name = '越南语 – VISCII'; code = 'VISCII'; },
		{	name = '越南语 – Windows'; code = 'CP1258'; },
		{	name = '西文 – Atari ST'; code = 'ATARI'; },
		{	name = '西文 – DOS CP858'; code = 'CP858'; },
		{	name = '西文 – DOS French Canadian'; code = 'CP863'; },
		{	name = '西文 – DOS Latin 1'; code = 'CP850'; },
		{	name = '西文 – DOS Latin 2'; code = 'CP852'; },
		{	name = '西文 – DOS Latin 3'; code = 'CP853'; },
		{	name = '西文 – DOS Latin US'; code = 'CP437'; },
		{	name = '西文 – HP-Roman8'; code = 'HP-ROMAN8'; },
		{	name = '西文 – ISO Latin 1'; code = 'ISO-8859-1'; },
		{	name = '西文 – ISO Latin 3'; code = 'ISO-8859-3'; },
		{	name = '西文 – ISO Latin 9'; code = 'ISO-8859-15'; },
		{	name = '西文 – Mac OS Roman'; code = 'MACROMAN'; },
		{	name = '西文 – NeXTSTEP'; code = 'NEXTSTEP'; },
		{	name = '西文 – RISC OS Latin 1'; code = 'RISCOS-LATIN1'; },
		{	name = '西文 – Windows'; code = 'WINDOWS-1252'; },
	);
}